body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.container {
    width: 100%;
    padding: 20px;
}

.header_text {
    font-size: 5vw; /* Adjusts dynamically */
    color: #d32f2f;
    white-space: nowrap; /* Prevents wrapping */
    overflow: visible;
}

.gif_container img {
    width: 50%; 
    max-width: 100px; 
    height: auto; 
}
